nav {
    width: 100%;
    height: fit-content;
    padding: 20px 10%;
    background-color: var(--nav-color);
    /* box-shadow: 0 0 30px 0px #59595924; */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

nav .navMenu {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    position: relative;
}

nav .navMenu li a {
    text-decoration: none;
    color: var(--nav-text);
    cursor: pointer;
}
nav .navMenu li .title{
    background-color: transparent;
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    letter-spacing: 1px;
    word-spacing: 5px;
}
nav .navMenu li .navButtons {
    list-style-type: none;
    width: fit-content;
    height: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 20px;
    position: relative;
}
.darkModeBody {
    width: 65px;
    height: 30px;
    border-radius: 25px;
    overflow: hidden;
    cursor: pointer;
}
.darkModeBody .innerModeDiv {
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: 0.5s ease;
    transform: translateX(-50%);
}

.darkModeBody .lightBtn,
.darkModeBody .darkBtn {
    padding: 0 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-width: 66px;
}

.darkModeBody .lightBtn {
    color: rgb(255, 255, 0);
    background-color: rgb(0, 183, 255);
}
.darkModeBody .lightBtn img,
.darkModeBody .darkBtn img{
    width: 25px;
}

.darkModeBody .darkBtn {
    color: rgb(255, 255, 255);
    background-color: #303030;
    justify-content: flex-end;
}

.portfolioBtn {
    background-image: linear-gradient(144deg, #8830c7, #3a24c5 50%, #00acb9);
    border: 0;
    border-radius: 8px;
    color: #FFFFFF !important;
    display: flex;
    font-size: 16px;
    justify-content: center;
    width: fit-content;
    padding: 3px;
    touch-action: manipulation;
    cursor: pointer;
    padding: 10px 20px;
    font-weight: bolder;
}
.portfolioBtn:hover{
    background-image: linear-gradient(144deg, #6d06b7, #1c04b8 50%, #007780);
}